// Additional colours
$mint-green: #b4efbc;
$green: #40b253;
$grey: #4d4d4d;
$light-grey: #666666;


 .nav-link.active,
 {
  color: $mint-green;
  background-color: #b4efbc;
  border-color: #ddd #ddd #fff;
}
