@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

.row {
  margin: auto;
}


.carousel-control-prev {
  opacity: 0;
}

.carousel-control-next {

  opacity: 0;
}

.carousel-indicators {
  opacity: 0;
}


.col-md-7 {
  margin: auto;
  max-width: 100%;
  flex: none;

}

.featurette-heading {
  text-align: center;
  margin-bottom: 50px;
}
