@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

.row {
  margin: auto;
}

.h1, h1 {
  font-weight: bold;
  text-shadow: 1px 1px 2px #40b253;
  opacity: 10px;
}

.carousel-control-prev {
  opacity: 0;
}

.carousel-control-next {

  opacity: 0;
}

.carousel-indicators {
  opacity: 0;
}

.col-md-7 {
  margin: auto;
  max-width: 100%;
  flex: none;

}

a {

  :hover {
	  color: #b4efbc;
	}
	:active {
		color: green;
	}

}


.btn btn-lg btn-primary {
    background-color:#40b253;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #b4efbc;
}

.navbar-dark .navbar-nav .nav-link {

  color:white;
}

.carousel-caption {
margin-bottom: 120px;

}

.rounded-circle {
  margin-bottom: 20px;
}

// Clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

// Box-sizing
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// New CSS
html {
	font-family: Helvetica, 'sans-serif';
}
.profstitle {
	font-size: 32px;
	text-align: center;
	margin-top: 0;
}
#myCarousel {
	margin-bottom: 20px;
}

.bar {
	width: 180px;
	height: 3px;
	background-color: $primaryColor;
	margin: 10px auto 40px auto;
}

.mainbox {
	width: 800px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 60px;
	background-color: #f1f1f1;
	position: relative;
	border-radius: 15px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 100px;
}
.profname {
	width: 800px;
	height: 60px;
	background-color: $primaryColor;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 15px;
	padding-left: 30px;
	h4 { color: #fbfbfb; opacity: 0.89; }
}
.right, .left { float: left; }

.right {
	width: 300px;
	height: 340px;
	figure {
		width: 300px;
		img { margin-bottom: 20px; }
		h5 { font-size: 1.2em; font-weight: 700; color: #191919; }
		h6 { font-size: 0.8em; color: #7d7d7d; }
	}
}
.left {
	width: 440px;
	height: 320px;
	position: relative;
	a {
		color: #fbfbfb; 
		:hover { text-decoration: none; color: #fbfbfb; }
	}
}
.profbutton {
	width: 160px;
	height: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: $primaryColor;
	padding-left: 35px;
	padding-top: 8px;
	border-radius: 8px;
}